/*page2*/
body {
    margin: 0 auto;
}

body .page1 {
    width: 100%;
    height: 1280px;
    background-size: cover;
    background: url("../img/page1/back-img-1.jpg") no-repeat unset center center;
}

/*navigation*/
.nav {
    display: flex;
    justify-content: space-between;
}

.nav-container-menu {
    position: absolute;
    left: 845px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    height: max-content;
}

.nav {
    background-color: black;
    width: 100%;
    height: 120px;
    opacity: 0.6;
    position: relative;
}

nav ul {
    position: absolute;
    left: 500px;
    top: 50px;
    margin: 0;
    padding: 0;
    list-style: none;
}

.nav-container-menu li a {
    font-size: 15px;
    margin-right: 20px;
    padding-bottom: 52px;
}

.nav-container-menu li a:hover {
    color: #18cfab;
    border-bottom: 1.5px solid #18cfab;
}

/*logo*/
.logo {
    font-family: sans-serif;
    display: flex;
    left: 389px;
    height: 70px;
    position: absolute;
    top: 25px;
}

.hexagon {
    color: white;
    left: 7px;
    position: absolute;
    display: flex;
    justify-content: center;
    width: 53px;
    font-size: 20px;
    background: #18cfab center;
    clip-path: polygon(50% 0, 100% 25%, 100% 75%, 50% 100%, 0 75%, 0 25%);
    z-index: 2;
    height: 75px;
}

.hexagon-word {
    position: absolute;
    top: 25px;
    left: 68px;
    font-size: 22px;
}

/*subheader*/
.subheader-container {
    position: relative;
}

.subheader {
    position: absolute;
    display: flex;
    top: 379px;
    left: 671px;
    justify-content: center;
}

.subheader-header {
    font-size: 33px;
    font-family: sans-serif;
}

.size70px {
    top: 402px;
    position: absolute;
    left: 636px;
    font-weight: bold;
    font-size: 82px;
}

.sentence {
    color: rgba(192, 212, 202, 255);
    position: absolute;
    top: 567px;
    opacity: 70%;
    font-size: 33px;
    left: 687px;
    font-family: sans-serif;
}

.greenWords {
    font-family: sans-serif;
    color: #18cfab;
    text-transform: uppercase;
}

/*buttons*/
.buttons-container {
    position: relative;
}

.buttons {
    display: flex;
    position: absolute;
    top: 819px;
    left: 840px;
}

.buttons-1 {
    display: flex;
    justify-content: center;
    border-top: 5px solid white;
    border-radius: 8px;
    width: 160px;
    margin-right: 14px;
    height: 60px;
    text-transform: uppercase;
    background-color: #18cfab;
}

.buttons .ordinary-word {
    font-weight: bold;
    position: absolute;
    font-family: sans-serif;
    font-size: 12.6px;
    top: 26px;
}

.buttons-2 {
    display: flex;
    margin-left: 14px;
    justify-content: center;
    border-top: 5px solid white;
    border-radius: 8px;
    width: 160px;
    height: 60px;
    background-color: #00cbf6;
}

/*text and link styles*/
.ordinary-word {
    color: #dfdede;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: white;
}

/**********************************************/
/*page2*/
body .page2 {
    width: 100%;
    height: 660px;
}

/*page2 navigation menu*/
.page2-menu-container {
    display: flex;
}

.page2-menu-item {
    position: relative;
    width: 480px;
    height: 380px;
}

.page2-menu-item img {
    position: absolute;
    left: 191px;
    top: 95px;
}

.page2-menu-item p {
    position: absolute;
    left: 132px;
    top: 233px;
    font-size: 30px;
    font-family: sans-serif;
}

.page2-menu-item:nth-child(even) {
    background-color: #18cfab;
    border-top: 5px solid white;
}

.page2-menu-item:nth-child(odd) {
    background-color: #1c2a33;
    border-top: 5px solid #18cfab;
}

.page2 .pageTransition {
    position: relative;
}

.page3TransAbsolute {
    position: absolute;
    top: 82px;
    left: 850px;
    padding-bottom: 37px;
}

.transWords {
    font-family: sans-serif;
    font-size: 50px;
    color: #1c2a33;
}

.transWord:hover {
    border-bottom: 1px solid #18cfab;
}

/**************************************************/
/*page3*/
body .page3 {
    background: url("../img/page3/backImg.jpg") no-repeat fixed center center;
    width: 100%;
    height: 1280px;
}

.page3-menu-container {
    position: relative;
    background-color: white;
    height: 379px;
}

.menu-container {
    display: flex;
    left: 389px;
    position: absolute;
}

.page3-menu {
    position: relative;
    width: 192px;
    color: #6b7071;
    height: 73px;
    background-color: #f8fcfe;
    border: 0.5px solid #ebebeb;
}

.triangle {
    width: 20px;
    position: absolute;
    top: 39px;
    left: 30px;
    height: 20px;
    background-color: #18cfab;
    visibility: hidden;
    clip-path: polygon(100% 25%, 50% 100%, 0 25%);
}

.page3-menu:hover {
    background-color: #18cfab;
    color: white;
}

.page3-menu:hover .triangle {
    visibility: visible;
}

.page3-menu p {
    position: absolute;
    top: 9px;
    left: 50px;
}

/*the index of webService menu*/
.subWeb-service {
    position: absolute;
    top: 100px;
    left: 389px;
    display: flex;
}

.subWeb-service p {
    text-align: left;
    width: 958px;
    font-size: 20px;
    font-family: sans-serif;
    color: #6b7071;
    margin-left: 10px;
    margin-top: 0;
}

.page4 {
    position: relative;
}

.page4-container {
    width: 100%;
    height: 480px;
    top: 0;
    background-color: rgba(17, 17, 17, 0.69);
    position: absolute;
}

.page4Header {
    position: absolute;
    font-size: 50px;
    top: 128px;
    left: 342px;
    text-transform: uppercase;
    font-family: sans-serif;
    color: #18cfab;
}

.page4Text {
    position: absolute;
    top: 223px;
    font-size: 20px;
    left: 520px;
}

.page4Button {
    position: absolute;
    top: 300px;
    left: 878px;
}

.page4ButtonText {
    position: absolute;
    top: 20px;
    font-size: 15px;
}

/*********************************************/
/*page5*/
body .page5 {
    background-color: #f8fcfe;
    width: 1920px;
    height: 1212px;
}

.page5 {
    margin-top: -420px;
}

.page5-container {
    position: relative;
}

.page5NavBarMenu {
    position: absolute;
    width: 600px;
    left: 773px;
    top: 279px;
    display: flex;
}

.page5-NavBarMenuItem {
    padding-right: 20px;
    padding-left: 18px;
    display: flex;
    border: 1px solid #ebebeb;
    color: #858585;
    font-family: sans-serif;
}

.page5-NavBarMenuItem:hover {
    border-top: 3px solid #18cfab;
    border-radius: 1px;
    color: #18cfab;
}

.page5ImgContainer {
    position: relative;
}


/*Page5 Images part*/
.Page5Images {
    width: 1146px;
    height: 622px;
    position: absolute;
    top: 460px;
    left: 300px;
    display: flex;
    flex-wrap: wrap;
}
/*Part Image 1*/
.Page5ImagesLink {
    width: 286px;
    height: 208px;
    background: url("../img/page3/Layer 34@1X.png");
}

.Page5ImagesLink:hover {
    background: url("../img/page5/WhiteRectangle.png");
    border-top: 3px solid #18cfab;
}

.Page5ImagesLink:hover .ImageComponents {
    visibility: visible;
}
.ImageComponents{
    visibility: hidden;
}

/*Part Image 2*/
.Page5ImagesLink{
    position: relative;
    width: 286px;
    height: 208px;
    background: url("../img/page3/Layer 24@1X.png");
}
.ImageComponents1{
    position: absolute;
    top: 56px;
    left: 107px;
    display: flex;
    border: 1px solid #18cfab;
    background-color: white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

/*Image Components*/
.page5LogoContainer {
    position: absolute;
    top: 56px;
    left: 107px;
    display: flex;
    border: 1px solid #18cfab;
    background-color: white;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.page5IconContainer {
    position: absolute;
    top: 56px;
    left: 155px;
    background-color: #18cfab;
    border-radius: 40px;
    width: 40px;
    height: 40px;
}

.linkLogo {
    position: absolute;
    top: 13px;
    left: 12px;
    width: 15px;
    height: 15px;
}

.page5ImagesHeader {
    position: absolute;
    left: 85px;
    top: 90px;
}

.page5ImagesText {
    position: absolute;
    left: 110px;
    top: 120px;
}
.Page5ImagesLoad1 {
    width: 1146px;
    display: flex;
    visibility: hidden;
    height: 622px;
    position: absolute;
    top: 1100px;
    left: 300px;
    flex-wrap: wrap;
}
.buttonLoad{
    position: absolute;
    top: 1400px;
    left: 300px;
    width: 100px;
    height: 50px;
    background-color: teal;
}
.buttonLoad:hover .Page5ImagesLoad1
{
    visibility: visible;
}






.slick-bigger{
    margin: 0 auto;
}
.slick-smaller{
    margin: 0 auto;
    width: 450px;
}
.slick-bigger-items{
    text-align: center;
    color:black ;
    font-size:20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /*padding: 30px;*/
}
.slick-bigger-item-img{
    width: 140px;
    height: 140px;
    margin-bottom: 50px;
    border-radius: 50%;
}
.slick-smaller-item{
    border-radius: 50%;
    width: 60px!important;
    height: 60px;
    /*display: flex;*/
    /*justify-content: space-between;*/
}

.slick-track{
    display: flex;
    justify-content: space-between;
}
/*-------*/
.slick-bigger-item-img{
    box-shadow: 0 0 5px 10px teal;
    border: 3px solid #2acbac;
}
.slick-smaller-item{
    box-shadow: 0 0 9px 3px teal;
}

.slick-bigger-items-text{
    color: white;
    font-weight: 300;
    font-size: 16px;
}

.slick-bigger-items-person-info{
    margin: 40px 0;
    color: #18cfab;
    font-size: 20px;
    font-weight: 700;
}

.slick-bigger-items-person-info-prf{
    display: block;
    color: white;
    font-weight: 300;
    font-size: 13px;
    margin-top: 10px;
}

.slick-next:before{
    content: '>';
    font-family: 'Montserrat', sans-serif;
}

.slick-prev:before{
    content: '<';
    font-family: 'Montserrat', sans-serif;
}

.slick-prev:before, .slick-next:before{
    font-size: 30px;
    padding: 2px 10px;
}

.slick-prev, .slick-next{
    width: 38px;
    height: 44px;
    border: 1px solid white;
    background-color: transparent;
}

.slick-prev:hover, .slick-prev:focus, .slick-next:hover, .slick-next:focus{
    background-color: #18cfab;
    border: 1px solid transparent;
    color: white;
}

.slick-track{
    margin: 20px 0;
}

.slick-prev, .slick-next {
    margin: 8px 0;
}
.ham-feedback{
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4)) center center;
    background-size: cover;/**/
    /*height: 853px;!**!*/
}

.ham-feedback-content{
    padding: 98px 0;
    display: flex;
    justify-content: center;
    /*align-items: center;*/
    flex-direction: column;
}

.ham-feedback-content-header{/**/
    font-size: 36px;
    position: relative;
}


.ham-feedback-content-icon{
    font-size: 33px;
    margin: 105px auto 44px auto;
    display: block;
    /*text-align: center;*/
    /*margin: 0 auto;*/
}
